@mixin flex_column() {
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none
}
    
.main-heading {
    color: #00427E;
    font-family: Helios;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}    
.main-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    &-img-wrapper{
        width: 100%;
        img {
            border-radius: 30px;
        }
    }
    &-scroll {
        display: flex;
        position: absolute;
        gap: 10px;
        bottom: 19px;
        div {
            background: #FFF;
            width: 9px;
            height: 9px;
            border-radius: 100%;
        }
    }
}
.main-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    a {
        color: #00427E;
        font-family: HeliosCond;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        right: 25px;
        &:after {
            content: "";
            background: url(assets/img/svg/arrow-main-right.svg);
            right: -23px;
            top: 6px;
            position: absolute;
            width: 22px;
            height: 10px;
        }
    }
}
.main-section-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main-news {
    margin-bottom: 100px;
    &-item {
        max-width: 370px;
        position: relative;
        a:has(&):hover {
            .main-news-item-heading {
                color: #00427E;
            }
            & .main-news-item-information::after {
                content: "";
                background: url(assets/img/svg/main-news-arrow-active.svg);
                bottom: -25px;
                position: absolute;
                width: 48px;
                height: 10px;
            }
        }
        
        &-img {
            margin-bottom: 10px;
        }
        &-information {
            @include flex_column();
            gap: 15px;
            position: relative;
            small {
                color: #484847;
            }
            .main-news-item-heading {
                color: #484847;
                font-family: Helios;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
            &::after {
                content: "";
                background: url(assets/img/svg/main-news-arrow.svg);
                bottom: -25px;
                position: absolute;
                width: 24px;
                height: 10px;
            }
            
        }
    }
}
.honor-board {
    background: #EFF4F9;
    width: 100vw;
    max-width: none !important;
    position: relative;
    left: calc(-50vw + 50%);
    align-items: center;
    text-align: -webkit-center;
    margin-bottom: 100px;
    padding: 40px;
    & > div {
        max-width: 1200px;
        margin-bottom: 15px;
    }
    .main-section-list {
        .board-item {
            max-width: 270px;
            &-information {
                position: relative;
                .name {
                    color: #00427E;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 119.531%; 
                }
                small {
                    color: #868786;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
                &::before {
                    content: "";
                    background: url(assets/img/svg/main-arrow-circle.svg);
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    z-index: 999;
                    right: 0;
                    top: -35px;
                }   
            }         
        }
        
    }   
}
.main-other {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    &-biggest {
        max-width: 870px;
        width: 100%;
        .main-other-item-text {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
            gap: 20px;
        }
        .main-other-item-text div {
            font-size: 32px;
        }
    }
    &-items {
        max-width: 270px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        padding: 21px;
        position: relative;
        border-radius: 5px;
        color: #000;
        &::after {
            content: "";
            background: url(assets/img/svg/main-news-arrow.svg);
            position: absolute;
            width: 24px;
            height: 10px;
            bottom: 10px;
        }
        &-text {
            div {
                font-family: Helios;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                
            }
            
        }
    }
}

.information_company_links {
    color: #00427E;
    font-family: Helios;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &_item {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #6C88B3;
        cursor: pointer;
        &.active {
            color: #F28B00;
            border-bottom: 1px solid #F28B00;
        }
    }
}
.information_company_details_item_link {           
    min-width: 370px;
    width: 100%;
    border-radius: 10px;
    background: #EEF1F5;
    color: #484847;
    font-family: HeliosCond;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 25px;
    box-shadow: 0px 4px 5px 0px rgba(0, 66, 126, 0.10);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 80px;
    cursor: pointer;
    
    &::before {
        content: "";
        position: absolute;
        left: 10px;
    }   
    

    &::after {
        content: "";
        position: absolute;
        background: url(assets/img/svg/main-news-arrow.svg);
        width: 24px;
        height: 10px;
        right: 15px;
    }
    &:hover {
        color: #00427E;
        &::after {
            filter: invert(12%) sepia(90) saturate(3434%) hue-rotate(197deg) brightness(92%) contrast(102%);
        }
    }
}
.information_company_details_item_wrapper:nth-child(1) .information_company_details_item_link::before {
    background: url(assets/img/svg/corporate_culture_1.svg);
    width: 55px;
    height: 60px;
}
.information_company_details_item_wrapper:nth-child(2) .information_company_details_item_link::before {
    background: url(assets/img/svg/corporate_culture_2.svg);
    width: 60px;
    height: 38px;
}
.information_company_details_item_wrapper:nth-child(3) .information_company_details_item_link::before {
    background: url(assets/img/svg/corporate_culture_3.svg);
    width: 60px;
    height: 52px;
}
.information_company_details_item_wrapper:nth-child(4) .information_company_details_item_link::before {
    background: url(assets/img/svg/corporate_culture_4.svg);
    width: 48px;
    height: 56px;
}
.information_company_details_item_wrapper:nth-child(5) .information_company_details_item_link::before {
    background: url(assets/img/svg/corporate_culture_5.svg);
    width: 48px;
    height: 57px;
}
.information_company_details_item_content {
    &_images {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
        & + a {
            & > div {
                margin-right: 100px;
                margin-left: 100px;
            }
        }
        &_item {
            min-width: 200px;
            max-width: 200px;
            max-height: 200px;
            min-height: 200px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #EEF1F5;
        }
    }
    &_text {
        display: flex;
        gap: 40px;
        
        &_files_item {
            min-width: 300px;
            text-align: left;
            display: flex;
            margin-bottom: 10px;
            .information_company_details_content_item_text_wrapper {
                margin-left: 10px;
                .information_company_details_content_item_text {
                    border-bottom:1px solid #D8DDE7;
                }
                small {
                    color: #868786;
                    font-family: HeliosCond;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
    &_block {
        margin-bottom: 20px;
        &_heading {
            color: #000;
            text-align: center;
            font-family: Helios;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 25px;
        }
        p {
            color: #4F4E4A;
            text-align: center;
            font-family: HeliosCond;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 25px;
        }
        &_images {
            display: flex;
            justify-content: space-around;
            gap: 15px;
            &_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 260px;
                gap: 15px;
                & div {
                    padding: 25px;
                    background: #EFF4F9;
                    border-radius: 50%;
                    max-width: 150px;
                    max-height: 150px;
                    min-height: 150px;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    & img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                & p {
                    color: #4F4E4A;
                    text-align: center;
                    font-family: HeliosCond;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
        &_list {
            display: flex;
            &_item {
                width: 100%;
                margin-left: 20px;
                p {
                    color: #00427E;
                    font-family: Helios;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    position: relative;
                    text-align: left;
                }
                & p::before {
                    position: absolute;
                    left: -30px;
                    text-align: center;
                    border: 1px solid;
                    width: 20px;
                    border-radius: 50%;
                }
                &:nth-child(1) p::before {
                    content: "1";
                }
                &:nth-child(2) p::before {
                    content: "2";
                }
                &:nth-child(3) p::before {
                    content: "3";
                }
                ul {
                    text-align: left;
                    list-style: url(assets/img/svg/list_style.svg);
                    max-width: 90%;
                    li {
                        color: #4F4E4A;
                        font-family: HeliosCond;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;

                        & span {
                            position: relative;
                            top: -5px;
                        }
                    }
                }
            }
        }
    }
}
.information_company_details {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    &_item:nth-child(3) {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    &_wrapper {
        p {
            text-align: left;
            color: #4F4E4A;
            font-family: HeliosCond;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
                 
    }
    &_item {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }    
    &_wrapper {
        padding-left: 15px;
        padding-right: 15px;
        &>div {
            margin-bottom: 20px;
        }
        .information_company_details_text {
            color: #4F4E4A;
            text-align: center;
            font-family: HeliosCond;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
        & > .information_company_details_img img {
            width: 100%;
        }
        .information_company_details_content {
            max-width: 700px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            &_item {
                border: 1px solid #BBBCBD;
                display: flex;
                padding: 15px;
                margin-bottom: 20px;
                gap: 20px;
                div {
                    text-align: left;
                }
                &:hover {
                    border: 1px solid #F28B00;
                }
                &_text {
                    color: #00427E;
                    font-family: Helios;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                }
                & small {
                    color: #868786;
                    font-family: HeliosCond;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
    
}
.information_company_details_item_wrapper:nth-child(4), .information_company_details_item_wrapper:nth-child(5) {
    p {
        text-align: center !important;
        margin-bottom: 20px;
    }
    .information_company_details_content_item {
        max-width: 50%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .information_company_details_item_content > * {
        margin-bottom: 20px;
    }
}
#content_block_p {
    background: #EFF4F9;
    padding: 55px;
}
.calendar {
    margin-bottom: 50px;
}
.calendar_cstm_wrapper {
    margin-left: auto;
    margin-right: auto;
}
#ui-datepicker-div {
    top: 45px !important;
    left: 0 !important;

}
.news_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 200px;
    .main-news-item {
        margin-bottom: 30px;
    }
}
.path_to_page {
    color: #868786;
    font-family: HeliosCondRegular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.news_content {
    display: flex;
    gap: 40px;
    & ul li {
        margin-left: 20px;
    }
    &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        &_date {
            color: #000;
            font-family: HeliosCond;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &_details {
            color: #484847;
            font-family: HeliosCond;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 90%;
            &_information {
                background: #EFF4F9;
                padding: 30px;
                div {
                    color: #000;
                    font-family: Helios;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                }
                ul {
                    color: #4F4E4A;
                    font-family: HeliosCond;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
            &_faq {
                color: #00427E;
                font-family: Helios;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
        }
        &_links {
            display: flex;
            gap: 10px;
        }
    }
}
.news_toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #868786;
    font-family: Helios;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 30px;
    & div {
        max-width: 180px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    & div:first-child {
        padding-left: 30px;
        &::before {
            content: "";
            position: absolute;
            background: url(assets/img/svg/main-news-arrow.svg);
            transform: rotate(180deg);
            width: 24px;
            height: 10px;
            left: 0;
        }
        &:hover {
            color: #F28B00;
            &::before {
                background: url(assets/img/svg/news_arrow_active.svg);
            
            }
        }
    }
    & div:last-child {
        padding-right: 30px;
        &::after {
            content: "";
            position: absolute;
            background: url(assets/img/svg/main-news-arrow.svg);
            width: 24px;
            height: 10px;
            right: 0;
        }
        &:hover {
            color: #F28B00;
            &::after {
                background: url(assets/img/svg/news_arrow_active.svg);
            }
        }
    }
}
.other_news_heading {
    color: #000;
    font-family: HeliosCond;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.other_news_content {
    &_block {
        margin-bottom: 15px;
        div {
            color: #515151;
            font-family: HeliosCond;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        a {
            color: #00427E;
            font-family: HeliosCond;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            text-decoration-line: underline;
            &:hover {
                color: #F28B00;
            }
        }
    }
}