* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.wrapper > div {
  margin-bottom: 85px;
}
.wrapper > div:last-child {
  margin-bottom: 0;
  height: 10px;
  background: #00427E;
  width: 80%;
}
.wrapper .main-news, .wrapper .honor-board {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 10px;
  padding: 30px 10px 30px 10px;
}

.main-heading {
  color: #00427E;
  font-family: Helios;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slider-img-wrapper {
  width: 100%;
}
.main-slider-img-wrapper img {
  border-radius: 30px;
}
.main-slider-scroll {
  display: flex;
  position: absolute;
  gap: 10px;
  bottom: 45px;
}
.main-slider-scroll div {
  background: #FFF;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.main-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-heading a {
  color: #00427E;
  font-family: HeliosCond;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  right: 25px;
}
.main-heading a:after {
  content: "";
  background: url(/assets/img/svg/arrow-main-right.svg);
  right: -23px;
  top: 6px;
  position: absolute;
  width: 22px;
  height: 10px;
}

.main-section-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-news-item {
  max-width: 370px;
  position: relative;
}
.main-news-item:hover .main-news-item-information::after {
  content: "";
  background: url(/assets/img/svg/main-news-arrow-active.svg);
  bottom: -25px;
  position: absolute;
  width: 48px;
  height: 10px;
}
.main-news-item-img {
  margin-bottom: 10px;
}
.main-news-item-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.main-news-item-information small {
  color: #484847;
}
.main-news-item-information .main-news-item-heading {
  color: #484847;
  font-family: Helios;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.main-news-item-information::after {
  content: "";
  background: url(/assets/img/svg/main-news-arrow.svg);
  bottom: -25px;
  position: absolute;
  width: 24px;
  height: 10px;
}

.honor-board {
  background: #EFF4F9;
}
.honor-board .main-section-list .board-item {
  max-width: 270px;
}
.honor-board .main-section-list .board-item-information {
  position: relative;
}
.honor-board .main-section-list .board-item-information .name {
  color: #00427E;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 119.531%;
}
.honor-board .main-section-list .board-item-information small {
  color: #868786;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.honor-board .main-section-list .board-item-information::before {
  content: "";
  background: url(/assets/img/svg/main-arrow-circle.svg);
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 999;
  right: 0;
  top: -35px;
}

.main-other {
  display: flex;
  justify-content: space-evenly;
}
.main-other-biggest {
  max-width: 870px;
  width: 100%;
}
.main-other-biggest .main-other-item-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  gap: 20px;
}
.main-other-biggest .main-other-item-text div {
  font-size: 32px;
}
.main-other-items {
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-other-item {
  display: flex;
  justify-content: space-between;
  padding: 21px;
  position: relative;
  border-radius: 5px;
  color: #000;
}
.main-other-item::after {
  content: "";
  background: url(/assets/img/svg/main-news-arrow.svg);
  position: absolute;
  width: 24px;
  height: 10px;
  bottom: 10px;
}
.main-other-item-text div {
  font-family: Helios;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */