@mixin flex_column() {
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none
}
.wrapper {
    @include flex_column();
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    & > div {
        margin-bottom: 50px;
        @include flex_column();
        align-items: flex-start;
        gap: 10px;
    } 
    .main-heading {
        color: #00427E;
        font-family: Helios;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .main-slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img-wrapper{
            width: 100%;
            img {
                border-radius: 30px;
            }
        }
        &-scroll {
            display: flex;
            position: absolute;
            gap: 10px;
            bottom: 15px;
            div {
                background: #FFF;
                width: 9px;
                height: 9px;
                border-radius: 100%;
            }
        }
    }
    .main-news {

        .main-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
                color: #00427E;
                font-family: HeliosCond;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: relative;
                &:after {
                    content: "";
                    background: url(/assets/img/svg/arrow-main-right.svg);
                    right: -23px;
                    top: 6px;
                    position: absolute;
                    width: 22px;
                    height: 10px;
                }
            }           
        }
        .main-news-list {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &-item {
            max-width: 370px;
            position: relative;
            &:hover .main-news-item-information::after {
                content: "";
                    background: url(/assets/img/svg/main-news-arrow-active.svg);
                    bottom: -25px;
                    position: absolute;
                    width: 48px;
                    height: 10px;
            }
            
            &-img {
                margin-bottom: 10px;
            }
            &-information {
                @include flex_column();
                gap: 15px;
                position: relative;
                small {
                    color: #484847;
                }
                .main-news-item-heading {
                    color: #484847;
                    font-family: Helios;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                &::after {
                    content: "";
                    background: url(/assets/img/svg/main-news-arrow.svg);
                    bottom: -25px;
                    position: absolute;
                    width: 24px;
                    height: 10px;
                }
                
            }
        }
    }
}